<div id="hack">
  <div id="menu">
    <div id="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-url="http://australian.govdata.exposed/" data-hashtags="govhack">Tweet</a></div>
    <h3 id='title'>The National Eyeball: Australian GovData Exposed!</h3>
    <div id="dropdown">
      <select id="regional">
        <option value="Perth">Perth</option>
        <option value="Adelaide">Adelaide</option>
        <option value="Melbourne">Melbourne</option>
        <option value="Hobart">Hobart</option>
        <option value="Canberra">Canberra</option>
        <option value="Sydney">Sydney</option>
        <option value="Brisbane">Brisbane</option>
        <option value="Darwin">Darwin</option>
      </select>
    </div>
  </div>
  <div id="controls">
    <div id="hm1">
      <div class="count">0</div>
      <input type="checkbox" class="enabled">
      <select class="source"></select>
      <select class="property"></select>
      <select class="measure"></select>
    </div>
    <hr/>
    <div id="hm2">
      <div class="count">0</div>
      <input type="checkbox" class="enabled">
      <select class="source"></select>
      <select class="property"></select>
      <select class="measure"></select>
    </div>
    <hr/>
    <div id="hm3">
      <div class="count">0</div>
      <input type="checkbox" class="enabled">
      <select class="source"></select>
      <select class="property"></select>
      <select class="measure"></select>
    </div>
  </div>
  <div class="map">
    <div id="widget"></div>
    <div id="welcome" title="Australian Government Exposed!">
      <p>Welcome to <a href="http://hackerspace.govhack.org/content/national-eyeball" target="_gh14">my entry</a> to GovHack 2014. You can</p>
      <ul>
        <li>create a heatmap to eyeball government data;</li>
        <li>share your heatmap on Twitter; and</li>
        <li>check out <a href="http://api.govdata.exposed/australia" target="_api">api.govdata.exposed/australia</a>.</li>
      </ul>
      <p>Sources: ABS, ATO, AIHW, WAEC, PTA, DoHA and DOE.</p>
    </div>
  </div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script>
  HeatMap = {};
  HeatMap.dirty = false;
  HeatMap.instances = [];

  MAP_STYLES = [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}];

  if (_.isUndefined(localStorage.heatmap)) {
    localStorage.heatmap = "{}";
  }

  HeatMap.state = JSON.parse(localStorage.heatmap);

  if (_.isUndefined(HeatMap.state.bounds)) {
    HeatMap.state.bounds = [0, 0, 0, 0];
  }
  if (_.isUndefined(HeatMap.state.view)) {
    HeatMap.state.view = "Sydney";
  }
  if (_.isUndefined(HeatMap.state.welcomed)) {
    HeatMap.state.welcomed = false;
  }
  if (_.isUndefined(HeatMap.state.filters)) {
    HeatMap.state.filters = [
      {
        id: 295,
        colour: [255, 0, 0],
        visible: true
      },
      {
        id: 304,
        colour: [0, 255, 0],
        visible: true
      },
      {
        id: 5,
        colour: [0, 0, 255],
        visible: true
      }
    ];
  };

  params = $(location).attr('search').split("?q=")[1];
  if (!_.isUndefined(params)) {
    params = JSON.parse("["+decodeURIComponent(params)+"]");
    HeatMap.state.center = [params[0], params[1]];
    HeatMap.state.zoom = params[2];
    HeatMap.state.filters[0].id = params[3];
    HeatMap.state.filters[1].id = params[4];
    HeatMap.state.filters[2].id = params[5];
  }

  ZOOMS = {
    "Perth": {
      center: new google.maps.LatLng(-31.993012032763385, 115.69512939453124),
      zoom: 10
    },
    "Adelaide": {
      center: new google.maps.LatLng(-34.893061500939275, 138.48089599609372),
      zoom: 10
    },
    "Melbourne": {
      center: new google.maps.LatLng(-37.80061090656644, 144.6484375),
      zoom: 9
    },
    "Hobart": {
      center: new google.maps.LatLng(-42.88893306658847, 147.2892639160157),
      zoom: 11
    },
    "Canberra": {
      center: new google.maps.LatLng(-35.29439583386006, 149.06317138671878),
      zoom: 11
    },
    "Sydney": {
      center: new google.maps.LatLng(-33.83589649422616, 150.80224609375003),
      zoom: 9
    },
    "Brisbane": {
      center: new google.maps.LatLng(-27.322568120576438, 152.84344482421875),
      zoom: 9
    },
    "Darwin": {
      center: new google.maps.LatLng(-12.450962709515238, 130.81991271972655),
      zoom: 11
    }
  }

  map_options = {
    panControl: false,
    zoomControl: true,
    mapTypeControl: false,
    scaleControl: false,
    streetViewControl: false,
    overviewMapControl: false,
    scrollwheel: false,
    zoomControlOptions: {
      style: google.maps.ZoomControlStyle.LARGE,
      position: google.maps.ControlPosition.RIGHT_CENTER
    },
    styles: MAP_STYLES
  };

  function stateful_uri() {
    state = [HeatMap.state.center, HeatMap.state.zoom, _.map(HeatMap.state.filters, function(f){ return f.id; })];
    return "http://australian.govdata.exposed?q="+encodeURIComponent(state);
  }

  function re_tweet() {
    var tweet = $('<a>')
        .attr('href', "https://twitter.com/share")
        .attr('class', "twitter-share-button")
        .attr('data-size', "large")
        .attr('data-hashtags', "govhack")
        .text('Tweet');
    $(".twitter-share-button").remove();
    $("#twitter").prepend(tweet);
    tweet.attr('data-text', _.map(HeatMap.comments, function(item){ return item.comment }).join(" | "));
    tweet.attr('data-url', stateful_uri());
    twttr.widgets.load();
  }

  function update_bounds() {
    if (!HeatMap.dirty) {
      return;
    }
    HeatMap.dirty = false;
    HeatMap.state.bounds[0] = map.getBounds().getSouthWest().lat();
    HeatMap.state.bounds[1] = map.getBounds().getSouthWest().lng();
    HeatMap.state.bounds[2] = map.getBounds().getNorthEast().lat();
    HeatMap.state.bounds[3] = map.getBounds().getNorthEast().lng();
    HeatMap.state.zoom = map.zoom;
    HeatMap.state.center = [map.center.lat(), map.center.lng()];
    redraw_heatmaps();
  }

  function display_heatmaps() {
    _.each(HeatMap.points, function(points, index){
      if (_.isUndefined(HeatMap.instances[index])) {
        HeatMap.instances[index] = new google.maps.visualization.HeatmapLayer({
          map: null,
          radius: 0.03,
          dissipating: false,
          opacity: 0.8,
          maxIntensity: 1.0,
        });
      }
      gradient = [];
      _.times(14, function(i){
        c = HeatMap.state.filters[index].colour;
        a = i/13.0;
        gradient.push("rgba("+c[0]+","+c[1]+","+c[2]+","+a+")");
      });
      HeatMap.instances[index].set('gradient', gradient);
      points = _.map(HeatMap.points[index], function(point){
        if (point.type == 'bool') {
          HeatMap.instances[index].set('radius', 0.005);
          return new google.maps.LatLng(point.lat,point.lng);
        } else {
          HeatMap.instances[index].set('radius', 0.03);
          return {
            location: new google.maps.LatLng(point.lat,point.lng),
            weight: point.weight
          }
        }
      });
      HeatMap.instances[index].setData(points);
      if (map.zoom > 10) {
        HeatMap.instances[index].set('opacity', 0.8 - (map.zoom - 10) / 10.0);
      }
      else
      {
        HeatMap.instances[index].set('opacity', 0.8);
      }
      if (_.isNull(HeatMap.instances[index].map)) {
        HeatMap.instances[index].setMap(map);
      }
    });
  }

  function display_comments() {
    $("#hm1 .count").text(HeatMap.comments[0].count);
    $("#hm2 .count").text(HeatMap.comments[1].count);
    $("#hm3 .count").text(HeatMap.comments[2].count);
  }

  function redraw_heatmaps() {
    localStorage.heatmap = JSON.stringify(HeatMap.state);
    if (HeatMap.state.filters.length > 0) {
      params = {
        bounds: HeatMap.state.bounds,
        filters: _.map(HeatMap.state.filters, function(f){ return f.id; })
      };
      $.getJSON("heatmaps/points", params, function(data){
        HeatMap.points = data;
        display_heatmaps();
      });
      $.getJSON("heatmaps/comments", params, function(data){
        HeatMap.comments = data;
        re_tweet();
        display_comments();
      });
    }
  }

  function initialize() {
    $("#controls").tabs();
    $("#menu").tabs();
    $("#regional").selectmenu({
      width: 160,
      change: function() {
        HeatMap.state.view = $("#regional").val();
        localStorage.heatmap = JSON.stringify(HeatMap.state);
        region = ZOOMS[HeatMap.state.view];
        map.setCenter(region.center);
        map.setZoom(region.zoom);
      }
    });
    if (!HeatMap.state.welcomed) {
      $("#welcome").dialog({
        width: 600,
        height: 300,
        buttons: [
          {
            text: "OK",
            click: function() {
              HeatMap.state.welcomed = true;
              localStorage.heatmap = JSON.stringify(HeatMap.state);
              $(this).dialog("close");
            }
          }
        ]
      });
    }
    $(".source").selectmenu({
      width: 238,
      position: { my: "left+10 top-20", at: "right center" }
    });
    $(".property").selectmenu({
      width: 238,
      position: { my: "left+10 top-20", at: "right center" }
    });
    $(".measure").selectmenu({
      width: 238,
      position: { my: "left+10 top-20", at: "right center" },
      collision: 'fit'
    });
    $.getJSON("heatmaps/filters", function(data){
      HeatMap.controls = data;
      restore_state();
    });
  }

  function restore_menu(elem, menu, value) {
    elem.empty();
    _.each(menu, function(item, value){
      elem.append($("<option />").val(value).text(item.name));
    });
    elem.val(value);
    elem.selectmenu("refresh");
    return menu[value].menu;
  }

  function restore_control(elem, filter) {
    elem.children(".enabled").prop("checked", filter.visible);
    menu = HeatMap.controls.menu;
    context = HeatMap.controls.lookup[filter.id];
    menu = restore_menu(elem.children(".source"), menu, context[0]);
    menu = restore_menu(elem.children(".property"), menu, context[1]);
    restore_menu(elem.children(".measure"), menu, filter.id);
  }

  function restore_state() {
    $("#regional").val(HeatMap.state.view);
    $("#regional").selectmenu("refresh");
    if (_.isUndefined(HeatMap.state.zoom)) {
      map_options.zoom = ZOOMS[HeatMap.state.view].zoom;
    } else {
      map_options.zoom = HeatMap.state.zoom;
    }
    if (_.isUndefined(HeatMap.state.center)) {
      map_options.center = ZOOMS[HeatMap.state.view].center;
    } else {
      map_options.center = new google.maps.LatLng(HeatMap.state.center[0], HeatMap.state.center[1]);
    }
    map = new google.maps.Map($("#hack .map #widget")[0], map_options);
    restore_control($("#hm1"), HeatMap.state.filters[0]);
    restore_control($("#hm2"), HeatMap.state.filters[1]);
    restore_control($("#hm3"), HeatMap.state.filters[2]);
    $("#menu").show();
    $("#controls").show();
    google.maps.event.addListener(map, 'idle', update_bounds);
    google.maps.event.addListener(map, "bounds_changed", function(){
      HeatMap.dirty = true;
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<% content_for :head do %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js' %>
  <%= javascript_include_tag "//maps.googleapis.com/maps/api/js?libraries=geometry,drawing,visualization&sensor=false&key=AIzaSyCl65XtmFvV5XRc8Lw42NC0AFlbl9xjHS0" %>
  <%= javascript_include_tag "//underscorejs.org/underscore-min.js" %>
  <%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" %>
  <style>
    html {
      height: 100%;
      margin: 0px;
      padding: 0px;
    }
    body {
      height: 100%;
      margin: 0px;
      padding: 0px;
    }
    div#hack {
      width: 100%;
      height: 100%;
      margin: 0px;
    }
    div.map {
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
    div#widget {
      width: 100%;
      height: 100%;
      margin: 0px;
    }
    div#controls {
      position: fixed;
      top: 50px;
      bottom: 30px;
      left: 0px;
      width: 240px;
      z-index: 666;
      opacity: 0.7;
      display: none;
      overflow-y: scroll
    }
    div#controls input {
      position: relative;
      top: -20px;
    }
    div#menu {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 42px;
      z-index: 999;
      opacity: 0.7;
      display: none;
    }
    div#twitter {
      position: fixed;
      left: 60px;
      top: 11px;
      width: 120px;
      z-index: 999;
    }
    div#dropdown {
      position: fixed;
      top: 5px;
      right: 10px;
      z-index: 999;
    }
    span#blurb {
      width: 100%;
    }
    span#red {
      width: 33%;
      background-color: #FAA;
    }
    span#green {
      width: 33%;
      background-color: #AFA;
    }
    span#blue {
      width: 33%;
      background-color: #AAF;
    }
    h3#title {
      position: relative;
      line-height: 0px;
      text-align: center;
      z-index: 666;
    }
    div#hm1 div.count {
      width: 100%;
      background-color: red;
      text-align: center;
      color: white;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: -10px;
      text-shadow: 3px 2px #000000;
    }
    div#hm2 div.count {
      width: 100%;
      background-color: green;
      text-align: center;
      color: white;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: -10px;
      text-shadow: 3px 2px #000000;
    }
    div#hm3 div.count {
      width: 100%;
      background-color: blue;
      text-align: center;
      color: white;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: -10px;
      text-shadow: 3px 2px #000000;
    }
    div#welcome {
      display: none;
    }
  </style>
<% end %>
